# PostgreSQL
POSTGRES_DB=BeachMonitorDB
POSTGRES_USER=beach
POSTGRES_PASSWORD=monitor

# RabbitMQ
RABBITMQ_DEFAULT_USER=beach
RABBITMQ_DEFAULT_PASS=monitor

# MQTT
MQTT_BROKER_URL=tcp://mosquitto:1883

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@beach.com
PGADMIN_DEFAULT_PASSWORD=admin

# Sensor Simulator
SIMULATOR_PORT=8290

# CEP Engine
CEP_PORT=8291
